In [21]:
from logzero import logger, setup_logger
from pyfiglet import figlet_format as ff
if True:  # For pipulate development
    from sys import path
    path.append("../")
    from pipdev import pipulate as gs
    from importlib import reload
    reload(gs)
else:
    import pipulate
import pandas as pd


log = setup_logger(logfile='log.log')
log.info("Begin logging")
print(ff('Pipulating...', font='standard'))
pd.set_option('display.max_columns', 500)
initialize_row = 'columns,blank1,id,title,url,description,blank2,metric1,metric2,metric3'.split(',')
initialize_col = 'columns,h1,h2,h3,timestamps,dateranges,aggregates,col_labels,formatting,data'.split(',')
sheet = gs.key('1qyGKcVGf64psttaYNRM30n0FhKDkdvJ96-TInargQj8')
tab_name = sheet.worksheets()[0].title  # Find name of Tab 1
tab = sheet.worksheet(tab_name)
col_labels = tab.row_values(1)
if initialize_row:
    if col_labels != initialize_row:
        tab.insert_row(initialize_row, index=1)
        col_labels = initialize_row
row_labels = tab.col_values(1)
if initialize_col:
    if row_labels != initialize_col:
        cl, df = gs.pipulate(tab, (1, len(initialize_col)), ('A', 'A'))
        df['A'] = initialize_col
        gs.populate(tab, cl, df)
        row_labels = initialize_col
        tab = sheet.worksheet(tab_name)
rows = tab.row_count
cols = tab.col_count + 1
row2 = len(row_labels)
for i, col in enumerate(col_labels):
    col_vals = tab.col_values(i + 1)
    if len(col_vals) > row2:
        row2 = len(col_vals)
if cols > len(row_labels):
    cols = len(row_labels)
tab.resize(row2, cols)
start_col = col_labels.index('columns') + 2
col1 = gs.a1(start_col)
col2 = gs.a1(cols)
row1 = row_labels.index('data') + 1
columns = col_labels[start_col - 1:]
cl, df = gs.pipulate(tab, (row1, row2), (col1, col2), columns)
df[df > 0] = 0
gs.populate(tab, cl, df)
print(ff('Done!', font='standard'))
log.info("End logging")

[I 181008 15:07:20 <ipython-input-21-43cef16c22ea>:15] Begin logging

 ____  _             _       _   _
|  _ \(_)_ __  _   _| | __ _| |_(_)_ __   __ _
| |_) | | '_ \| | | | |/ _` | __| | '_ \ / _` |
|  __/| | |_) | |_| | | (_| | |_| | | | | (_| |_ _ _
|_|   |_| .__/ \__,_|_|\__,_|\__|_|_| |_|\__, (_|_|_)
        |_|                              |___/

cl, df = gs.pipulate("Sheet1", rows=(10, 17), cols=('B', 'J')) was successful.
You may now manipulate the DataFrame but maintain its (8 x 9) shape.
To update the GSheet with changes, gs.populate("Sheet1", cl, df)
gs.populate("Sheet1", cl, df) <<< GSHEET UPDATED! >>>

 ____                   _
|  _ \  ___  _ __   ___| |
| | | |/ _ \| '_ \ / _ \ |
| |_| | (_) | | | |  __/_|
|____/ \___/|_| |_|\___(_)

[I 181008 15:07:23 <ipython-input-21-43cef16c22ea>:55] End logging

In [22]:
df

  blank1 id title url description blank2 metric1 metric2 metric3
0      0  0     0   0           0      0       0       0       0
1      0  0     0   0           0      0       0       0       0
2      0  0     0   0           0      0       0       0       0
3      0  0     0   0           0      0       0       0       0
4      0  0     0   0           0      0       0       0       0
5      0  0     0   0           0      0       0       0       0
6      0  0     0   0           0      0       0       0       0
7      0  0     0   0           0      0       0       0       0

In [23]:
df['title'] = 'foo'

In [24]:
gs.populate(tab, cl, df)

gs.populate("Sheet1", cl, df) <<< GSHEET UPDATED! >>>